.container{
    width: 60%;
    padding-top: 10%; 
    margin: auto;   
}

.container::after{
    content: '';
    display: table;    
    clear: both;
}

.blocco{
    width: 100%;
    float: left;
    width: calc(100% / 6 - 80px);
}



.prodotto{
    height: 300px;
    
   
}



