body{
    padding-top: 10%;
}
  
.container {
    width: calc(60% - 0px);
    margin: auto;
}

.blocco{
    margin: 30px;
    float: left;
    width: calc(100% / 3 - 80px);
  }
  
  .prodotto img{
    width: 100%;
  }
  







